%h1 Editing quote
= render 'form'

.btn-group
  = link_to 'Show', @quote, class: 'btn btn-small'
  = link_to 'Delete', @quote, method: :delete, class: 'btn btn-small', confirm: 'Are you sure?'
  = link_to 'Back', quotes_path, class: 'btn btn-small'
