.quotes
  - @quotes.each do |quote|
    .quote.row
      .quote-details.span11
        .quote-text
          #{quote.text}
        .quote-author
          ― #{quote.author}, #{quote.source}
        .quoteFooter
      .action.span1
        %a.btn Like
.actions.btn-group
  = link_to 'New Quote', new_quote_path, class: 'btn'